@model int 

<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="formerror">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 py-md-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate p-4 p-lg-5">
                            <h2 class="mb-4">Errore @Model</h2>
                            @if (Model == 404)
                            {
                                <p>La pagina non esiste. Torna indietro</p>
                            }
                            else
                            {
                                <p>Ops, qualcosa è andato storto. Torna indietro, oppure telefonaci</p>
                            }
                            <p>
                                <a href="/" class="btn btn-primary py-3 px-4">Torna indietro</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>